/* footer.css */
.footer {
  background: #111;
  color: #ddd;
}

.footer h5,
.footer h6 {
  font-weight: 600;
}

.footer a {
  transition: 0.3s;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer .border-top {
  border-color: #333 !important;
}

/* login.css */
body {
  background: #f5f5f5;
}

.login-card {
  width: 380px;
  border-radius: 12px;
}

.login-card input {
  height: 45px;
}

.login-card button {
  height: 45px;
  font-size: 1rem;
}

/* register.css */
body {
  background: #f0f0f0;
}

.register-card {
  width: 420px;
  border-radius: 12px;
}

.register-card input {
  height: 45px;
}

.register-card button {
  height: 45px;
  font-size: 1rem;
}
