
<div class="body bg-light d-flex align-items-center justify-content-center vh-100">


<div class="card shadow-lg p-4 register-card">
<h2 class="text-center mb-4">Create Account</h2>


<form>
<div class="mb-3">
<label class="form-label">Full Name</label>
<input type="text" class="form-control" placeholder="Enter your name" required />
</div>


<div class="mb-3">
<label class="form-label">Email</label>
<input type="email" class="form-control" placeholder="Enter your email" required />
</div>


<div class="mb-3">
<label class="form-label">Password</label>
<input type="password" class="form-control" placeholder="Enter your password" required />
</div>


<div class="mb-3">
<label class="form-label">Confirm Password</label>
<input type="password" class="form-control" placeholder="Re-enter password" required />
</div>


<button type="submit" class="btn btn-dark w-100" (click)="navigateToHome()">Register</button>
</form>


<p class="text-center mt-3">
Already have an account? <a (click)="navigateToLogin()" class="text-decoration-none">Login</a>
</p>
</div>


</div>
